<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
<div class="login-container">
    <div class="logo">

        <span class="title">Connectly 👾</span>
    </div>
    <h2>Friend, welcome back</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
     {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <form method="post" action="" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {% if form.email.errors %}
            {{ form.email(class = "input-group-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            <div class="input-group">
                {{ form.email }}
            </div>
        {% endif %}

        {% if form.password.errors %}
            {{ form.password(class = "input-group-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            <div class="input-group">
                {{ form.password }}
            </div>
        {% endif %}

        <div class="input-group">
            <div class="remember-me">
                {{ form.remember_me }}
                {{ form.remember_me.label(class="label") }}
            </div>
            <a href="#" class="forgot-password">Forgot password?</a>
        </div>

        {{ form.submit(class="login-btn") }}
    </form>
        <p>OR</p>
        <button class="register-btn" id="register-btn" onclick="register_page()">Sign Up</button>
        <div class="social-login">
            <button class="facebook-btn">Log in with Facebook</button>
            <button class="google-btn">Log in with Google</button>
        </div>

</div>
</body>
<script>
    function register_page() {
        location.href='/'
    }
</script>
</html>
